<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>My name is Rishi Goyal, and I'm currently enrolled as a student at Seneca College, where I'm working towards earning a Diploma in Computer Programming. I have a deep interest in Computer Science and Software Development, and my objective is to make a positive impact on society by advancing the field of Information Technology. I find great satisfaction in tackling problems, embracing challenges, exploring new technologies, and crafting software applications for various platforms. I'm constantly ready to expand my knowledge and acquire fresh perspectives through learning and gaining new experiences. Collaborating with others in a team setting is something I relish, as it provides an opportunity to enhance my abilities and personal growth. I strive to assist others to the best of my ability and actively maintain open lines of communication to foster mutual understanding. I am receptive to strong viewpoints and encourage constructive feedback.
            Some of my hobbies are playing sports like badminton, watching movies and anime, reading articles about new technologies, appreciating music, and playing musical instruments such as the guitar and keyboard.</p>
</article>
</section>
<aside class="col-md-3">
<h2>Coming Soon...</h2>
</aside>
</div>